<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FocusPlay"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.AuthChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".games.GameTangkapWarnaActivity"
            android:exported="false" />
        <activity
            android:name=".games.GameUrutkanAngkaActivity"
            android:exported="false" />
        <activity
            android:name=".games.GamePasangKartuActivity"
            android:exported="false" />
        <activity
            android:name=".games.GameAntarRumahActivity"
            android:exported="false" />
        <activity
            android:name=".games.GameTapMerahActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardAnakActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.PilihPeranActivity"
            android:exported="false" />
        <activity
            android:name=".profile.PilihAnakActivity"
            android:exported="false" />
        <activity
            android:name=".profile.TambahAnakActivity"
            android:exported="false" />
        <activity
            android:name=".history.RiwayatPermainanActivity"
            android:exported="false" />
        <activity
            android:name=".settings.PengaturanPermainanActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".history.EvaluasiActivity"
            android:exported="false" />
    </application>

</manifest>